@import "reset.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;800;900&family=Open+Sans&display=swap');
@import "variables.scss";


body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.container-m{
    max-width: 1038px;
    margin: 0 auto;
}
.container-s{
    max-width: 768px;
    margin: 0 auto;
}
//header
header{
    z-index: 999;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    background-color: rgba($neutral1, 0.3);

    &>.container{
    display: flex;
    width: 100% ;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }
    .image-container{
        img{
            height: 25px;
        }
    }
    .menu{
        ul{
            list-style-type: none;
            padding:$spacing-s;
            li{
                display: inline-block;
                font-size: $t3;
                font-weight: 500;
                font-family: $header;
                text-transform: capitalize;
                transition: 0.3s;
                padding: 0 9px;
                a{
                    color: rgba($neutral5,0.9);
                    padding: 2px 12px;
                    transition: 0.3s;
                    text-decoration: none;
                    background-color: transparent;
                }
                &:hover,
                &.active{
                    a{
                        color: rgba($neutral1,0.9);
                        background-color: $neutral5;
                    }
                }
            }
        }
    }
    .registration-staff{
        display: flex;
        gap: 10px;
        .log-in{
            a{
                
            padding: 12px 8px;
            }
        }
    }
    .open-close-icon{
        display: none;
    }
}
.main-banner{
    height: 84.5vh;
    background-color: $neutral1;
    &>.container-m{  
        padding-top: 80px;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
    }
    .content-container{
        position: relative;
        z-index: 8;
        max-width: 52%; 
        width: 100%;
        color:white;
        h1{
            font-size: $h1;
            line-height: $h1;
            font-weight: 800;
            font-family: $header;
            span{
                display: block;
                color:$primary2;
            }
        }
        p{
            font-size: $t1;
            font-family: $text;
            color: $neutral5;
            font-weight: 400;
            padding: $spacing-m 0;
        }
    }
    .image-container{
        position: absolute;
        top:0;
        right: 50px;
        height: 100%;
        // width: 38vw;
        img{
            height: 100%;
        }
    }
}
.section{
    padding-top: $spacing-xl;
    .section-title{
        position: relative;
        color: $neutral1;
        font-size: $h2;
        display: inline-block;
        font-family: $header;
        
        svg{
            position: absolute;
            top: 50%;
            width: 150px;
            transform: translate(-50%,-50%);
        }
        .green-part{
            color: $primary2;
            display: inline-block;
        }
    }
    .text-container{
        margin: $spacing-m 0;
        p{
            color: $neutral2;
            font-family: $text;
            font-size: $t2;
            line-height: $spacing-m;
            padding-bottom: $spacing-m;
        }
    }
    .link{
        position: relative;
        text-transform: uppercase;
        color: $neutral1;
        text-decoration: none;
        font-size: $b1;
        font-family: $header;
        font-weight: 900;
        display: flex;
        align-items: center;
        svg{
            width: 22px;
            margin-left: $spacing-s;
            transition: 0.3s;
        }
        &:hover{
            svg{ 
                margin-left: calc($spacing-s + 5px);
            }
        }
    }
}
.training-section{
    .glide-slide{
        position: relative;
        .image-container{
            position: relative;
            width: 100%;
            // height:21vw;
            height: 0;
            padding-bottom: 109%;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            
        }
        .slide-overflow{
                position: absolute;
            .slider-badge{
                display: block;
                position: absolute;
                bottom: $spacing-s;
                left: $spacing-s;
                background-color: $neutral5;
                padding: 5px 15px;
                font-size: $b1;
                font-family: $header;
                text-transform: capitalize;
                font-weight: 800;
            }
        }
        &:nth-child(2n){
            padding: 15px;
            .image-container{
                // img{ 
                //     transform: scaleY(0.9);
                // }
            }
        }
    }
    .training-slider{
        padding-top: $spacing-l;
    }
    .glide-arrows{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-top: $spacing-l;
        padding-right: 50px;
        .glide-arrow{
            margin: 0 15px;
            cursor: pointer;
            background-color: transparent;
            svg{
                width: 35px;
            transition: 0.3s;
            }
            &.glide-left:hover{
               svg{
                transform: translateX(-5px);
               } 
            }
            &.glide-right:hover{
               svg{
                   transform: translateX(5px);
               } 
            }
        }
    }
}