@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Open+Sans&display=swap');

@import "variables.scss";

body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color: $neutral1;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
//header
header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0 $spacing-l;
    height: 80px;

    &>.container{
    display: flex;
    width: 100% ;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }
    .image-container{
        img{
            height: 25px;
        }
    }
    .menu{
        ul{
            list-style-type: none;
            padding:$spacing-s;
            li{
                display: inline-block;
                font-size: $t3;
                font-weight: 500;
                font-family: $header;
                text-transform: capitalize;
                transition: 0.3s;
                a{
                    color: rgba($neutral5,0.9);
                    padding: 2px 12px;
                    transition: 0.3s;
                    text-decoration: none;
                    background-color: transparent;
                }
                &:hover,
                &.active{
                    a{
                        color: rgba($neutral1,0.9);
                        background-color: $neutral5;
                    }
                }
            }
        }
    }
    .registration-staff{
        display: flex;
        gap: 10px;
    }
    .open-close-icon{
        display: none;
    }
}
.main-banner{
    padding-top: 80px;
    height: 100vh;
    &>.container{  
        display: flex;
        align-items: center;
        height: 100%;
    }
}