*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */


html,body {
    height: 100%;
    //scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height:1.5;
}
*{
    &::-webkit-scrollbar-track
    {
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width:12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color:#DCDCDC;
    }



}
blockquote, q {
    quotes: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }
//ul{
//    margin-left: 20px;
//}